<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{>navbar}} </h2>
<div class="contact">
    <h2>{{title}}</h2>
    <div class="divider">
        <form action="">
        <h3 for="">Contact</h3>
            <label for="">Your name</label>
                <input type="text">
        
            <label for="">Your email</label>
            <input type="text">
            <label for="">Subject</label>
            <input type="email">
            <label for="">Your message (optional)</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
        <div class="coninfo">
         <h3>our Agency</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        
        </div>
    </div>
</div>
    <h2>{{>footer}} </h2>

</body>
</html>