<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
     <h2>{{>navbar}} </h2>
    
    <div class="hero">
    <div class="outline"></div>
       <div class="info">
        <h2>welcome to our <br/> Agencey</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <button class="btn">contact us</button>
    </div>
    </div>
    <section class="section1">
<h2>Services</h2>
<p>Lorem ipsum dolor sit amet consectetur.</p>
<div class="divider">
    <img src={{img_2}} alt="">
    <div class="detail">
        <h3>Discover our option to succes</h3>
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maiores nam molestiae architecto error laborum?</p>
       
        <button>view our services</button>
         
    </div>
</div>
    </section>
    <h2>{{>footer}}</h2>
</body>
</html>