<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
     <h2>{{>navbar}} </h2>

    <div class="service">
      <div class="con">
      <img src={{img}} alt="">
      <div class="ser">
        <h2>{{title}}</h2>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis amet sunt eaque dolorum nulla iure ut, voluptatem vel delectus non maiores nisi quaerat magni, et mollitia officia libero eos ab.</h4>
      </div>
      </div>
    </div>
</body>
</html>