

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <footer>
        <div class="finfo">
            <h2>Get in Touch</h2>
            <button class="btn">contact us</button>
        </div>
        <div class="social">
            <p>social media accouts</p   >
           <div class="icons">
            <img src={{facebook}} alt="">
            <img src={{ins}} alt="">
            <img src={{twt}} alt="">
            <p><img src={{phone}} alt=""> : 01098488778</p>
           </div>
            
        </div>
    </footer>
</body>
</html>